<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ user.name }}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical-sharp" (click)="showOptions()"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Users Image -->
  <app-user-image></app-user-image>
  <!-- User Details -->
  <app-user-details [user]="user"></app-user-details>
  <!-- About User -->
</ion-content>
<!-- <ion-footer>
  <ion-button color="warning" expand="full">
      Remove From Friend List
    </ion-button>
  </ion-footer> -->
