.letter-outlet{
    padding: 35px;
    color: #000;
    background: #fff;
    .letter_view{
        max-height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .view{
        font-size: 4em;
        position: absolute;
        right: 30px;
        top: 150px;
        ion-fab-button{
            --background: var(--ion-color-dark) !important;
        }
    }
}
.letters_list{
    height: 100%;
    padding: 10px;
    position: relative;
    top: -10px;
    background: var(--ion-color-dark);
    .top_card{
        margin-bottom: 150px;
    }
    ion-reorder{
        height: 50px;
        ion-card{
            box-shadow: 0px 0px 8px 0px #404040;
            border-radius: 5px;
            ion-item{
                --background: var(--ion-color-light);
                --color: #000;
                ion-label{
                    height: 140px;
                    white-space: break-spaces;
                    .sentBy{
                        font-weight: 600;
                    }
                }
            }
        }
        .transform1{
            transform: rotate(-2deg);
        }
        .transform2{
            transform: rotate(2deg);
        }
        .transform3{
            transform: rotate(5deg);
        }
    }
}
.write-letter{
    ion-fab-button{
        --background: var(--ion-color-dark) !important;
    }
}