<div class="image-box">

  <!-- Attachment Icon -->
  <ion-icon class="attach_icon" name="attach-outline"></ion-icon>

  <!-- Existing Image -->
  <div class="image" *ngIf="image" (click)='uploadImageOption()'>
      <img [src]="image | safeSrcUrl">
    </div>
    <!-- Input Image -->
  <div class="image" *ngIf="!image" (click)='uploadImageOption()'>
      <input type='file' class="hidden">
      <ion-icon name='camera' class="camera-icon"></ion-icon>
      <div class="add-icon-parent">
          <!-- <ion-icon name="add-sharp" class="add-icon"></ion-icon> -->
        </div>
    </div>
</div>