.parent_editer{
    height: 80%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #d0d0d0;
    .editor_info{
        margin: 0;
        opacity: 0.5;
        font-style: italic;
    }
}