<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      My Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Search by handle"></ion-input>
  </ion-item>

  <ion-item class="ion-activatable" (click)='viewLetters()' style="position: relative;">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label class="user">
      <h2>Lamiyah</h2>
      <p>Desciprtion of Lamiyah</p>
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>

  <ion-item class="ion-activatable" (click)='viewLetters()' style="position: relative;">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label class="user">
      <h2 class="message">Pranav</h2>
      <p>Desciprtion of Pranav</p>
    </ion-label>
    <ion-badge slot="end" color="dark">2</ion-badge>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>

  <ion-item class="ion-activatable" (click)='viewLetters()' style="position: relative;">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label class="user">
      <h2>Arvey</h2>
      <p>Desciprtion of Arvey</p>
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
</ion-content>
