<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <!-- <ion-buttons slot="start">
      <ion-button>
        <ion-icon color="dark" slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title [ngClass]="userLoggedIn ? 'margin-left' : ''">
      Profile Manage
    </ion-title>
    <ion-buttons slot="end" *ngIf="userLoggedIn">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-row>        
        <!-- user details -->
        <ion-col size='6' class='padding-left'>
          <app-user-details [value]='UserDetails' (setUserDetails)="setUserDetails($event)"></app-user-details>
        </ion-col>
        <!-- Privacy -->
        <ion-col size="2" class="padding-none">
        </ion-col>
        <!-- User Image -->
        <ion-col size="4" class="padding-none">
          <app-image-input class="component-image"></app-image-input>
        </ion-col>
      </ion-row>

      <hr>
      <!-- About User -->
      <ion-row class="">
        <p *ngIf="UserDetails" class="lg-padding-left lg-padding-right" ><b class="font-16">Subject: </b> <span>Hey {{UserDetails.handle}}! Tell Us Something about yourself</span></p>
        <app-profile-details (setProfileDetails)="setProfileDetails($event)"></app-profile-details>
      </ion-row>
        
</ion-content>

<ion-footer>
    <p class="ion-text-center privacy">Kindly Check Details You Want To Show Your New Penpals</p>
    <ion-button expand="block" (click)="updateProfile()">Update Profile</ion-button>
</ion-footer>