// ion-title{
// }
.margin-left{
    margin-left: 65px
}
app-profile-details{
    width: 100%
}
.profile_text{
    h1{
        font-size: 2.2em;
        color: #da9f00;
        font-weight: 600;
    }
}
.privacy{
    font-size: 0.8em;
}