ion-icon{
    position: relative;
    top: 4px;
}
.userDetails{
    font-size: 1.2em;
}
.interest{
    background: var(--ion-color-dark);
    color: var(--ion-color-warning);
    font-size: 0.8em;
    font-weight: 600;
    padding: 4px;
    border-radius: 25px;
    margin: 0 6px;
    box-shadow: 0 0 6px #9a9a9a;
}