/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.bubble.css';

// Theming
@import './theme/dark_theme.scss';

// Fonts
@font-face {
  font-family: 'amstagram';
  src: url("~assets/fonts/Amstagram.ttf");
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.ion-page {
    .slide-over{
        border-radius: 10px 10px 0 0;
        box-shadow: 0px 0px 20px 0px #404040;
    }

    hr{
        margin: 10px 30px;
        background: #ffffff59;
    }
    
    ion-button{
        font-weight: bold;
        // --ion-color-base: var(--ion-color-dark);
        --background: var(--ion-color-dark);
        --color: var(--ion-color-warning);
    }

    .font-16{ font-size: 1.6em }

    .width-100{width: 100%}
    .width-75{width: 75%}
    .width-50{width: 50%}
    .width-25{width: 25%}

    .height-100{height: 100%}
    .height-75{height: 75%}
    .height-50{height: 50%}
    .height-25{height: 25%}

    .margin-none{ margin: 0 }

    .margin-top{ margin-top: 8px }
    .margin-bottom{ margin-bottom: 8px }
    .margin-left{ margin-left: 8px }
    .margin-right{ margin-right: 8px }

    .lg-margin-top{ margin-top: 16px }
    .lg-margin-bottom{ margin-bottom: 16px }
    .lg-margin-left{ margin-left: 16px }
    .lg-margin-right{ margin-right: 16px }

    .padding-none{ padding: 0}
    
    .sm-padding{padding: 4px;}
    .sm-padding-top{padding-top: 4px;}
    .sm-padding-left{padding-left: 4px;}
    .sm-padding-right{padding-right: 4px;}
    .sm-padding-bottom{padding-bottom: 4px;}
    
    .padding{padding: 8px;}
    .padding-top{padding-top: 8px;}
    .padding-left{padding-left: 8px;}
    .padding-right{padding-right: 8px;}
    .padding-bottom{padding-bottom: 8px;}

    .padding{padding: 8px;}
    .lg-padding{padding: 16px;}
    .lg-padding-top{padding-top: 16px;}
    .lg-padding-left{padding-left: 16px;}
    .lg-padding-right{padding-right: 16px;}
    .lg-padding-bottom{padding-bottom: 16px;}

    .bold{
        font-weight: bold;
    }
    .displayContents{
        display: contents;
    }
    .hidden{
        display: none;
    }
}